* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}


.pure-img-responsive {
    max-width: 80%;
    height: auto;
    padding-left: 0rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
    font-family: 'arial';
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid #1f8dd6;
    font-family: 'arial';
}

.colour{
    colour: #1f8dd6;
}

.is-center {
    text-align: center;
}

.l-content {
    margin: 0 auto;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 70%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #1f8dd6;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
    
}

.home-menu .pure-menu-heading {
    color:black;
    font-weight: 400;
    font-size: 120%;
    text-transform: none; 
    
}

.home-menu .pure-menu-selected a {
    color: rgb(4, 4, 99);
}

.home-menu a {
    color: white;
    font-family: 'arial';
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


.banner {
    background: transparent url('back.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 2em;
    display: table;
    /* padding-left:15em; */
    font-style: italic;
    
}

.banner-head {
    display: table-cell;
    vertical-align: center;
    margin-top: 8em;
    font-size: 1.8em;
    color: white;
    font-weight: 500;
    /* text-shadow: 0 2px 2px black; */
    font-family: 'arial';
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    /* top: 87%; */
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    /* padding-top: 2em; */
    font-family: 'arial';

}

/* We want to give the content area some more padding */
.content {
    /* padding: 1em 1em 3em; */
    font-family: 'arial';
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* margin: 2em 0 1em; */
}

.content-head2 {
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    padding-right: 1rem;
    padding-left: 1rem;
    font-style: italic;
    text-align: justify;
    font-size: 1.3em;

}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
    font-family: 'arial';
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
    font-family: 'arial';
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: url(background1.jpeg);
    color: #aaa;
    font-family: 'arial';
    background-size: cover
}

/* This is the class used for the footer */
.footer {
    background: #111;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'arial';
}



/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: center;
    }
        .home-menu ul {
            float: center;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
        font-family: 'arial'';
    }

}

.font{
    font-family: 'arial';
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
 @media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@media (max-width: 480px) {
    /* We increase the header font size even more */
    .banner {
        background: transparent url(mobilebackground.jpg) 0 0 no-repeat fixed;
        z-index: 1;
        /* background-size: cover; */
        /* max-width: 100%; */
        /* align: center; */
        object-fit: scale-down; 
        max-width: 100%;
        padding-bottom: 7rem;
    }

    a.pure-button-primary {
        margin-top: 3em;
        margin-bottom: -4em;
    }
}


/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
    background: url(video1.JPG);
}

.pricing-table-biz .pricing-table-header {
    background: url(video2.JPG);
}

.pricing-table-enterprise .pricing-table-header {
    background: url(video3.JPG);
}

.pricing-table-free1 .pricing-table-header {
    background: url(video4.JPG);
}

.pricing-table-biz1 .pricing-table-header {
    background: url(video5.JPG);
}

.pricing-table-enterprise1 .pricing-table-header {
    background: url(video6.JPG);
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    background: #111;
    color: #fff;
}
    .pricing-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

@media (max-width: 480px) {
.pricing-table-free .pricing-table-header {
    background: url(video1.JPG);
    height: 13rem;
    background-size: cover;
}
.pricing-table-biz .pricing-table-header {
    background: url(video2.JPG);
    height: 13rem;
    background-size: cover;
}
.pricing-table-enterprise .pricing-table-header {
    background: url(video3.JPG);
    height: 13rem;
    background-size: cover;
}
.pricing-table-free1 .pricing-table-header {
    background: url(video4.JPG);
    height: 13rem;
    background-size: cover;
}
.pricing-table-biz1 .pricing-table-header {
    background: url(video5.JPG);
    height: 13rem;
    background-size: cover;
}
.pricing-table-enterprise1 .pricing-table-header {
    background: url(video6.JPG);
    height: 13rem;
    background-size: cover;
}

@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
    .l-content {
        margin: center;
    }
}

